.cores {
  background-color: #eca766ff;
  background-color: #e49d7fff;
  background-color: #794c2dff;
  background-color: #d3902fff;
  background-color: #fff9d7ff;
}

.cartWraper {
  height: 100%;
  width: 1000px;
  margin: auto;
  background-color: #e49d7fff;
  display: none;
  overflow: scroll;
  position: relative;
}

.checkoutBoxWrap {
  position: absolute;
  top: 6vh;
  right: 0;
  margin: 10px 20px;
  width: 340px;
  height: 200px;
}

.checkoutBox {
  background-color: #fff9d7ff;
  box-sizing: border-box;
  position: fixed;
  width: 340px;
  box-shadow: 2px 2px 4px #794c2dff;
  padding: 0 20px 20px 20px;
  color: #794c2dff;
}

table td:nth-child(2) {
  text-align: right;
}

.checkoutBox h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #794c2d66;
}

.subtotal {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #794c2d66;
}
.total {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 20px;
}

.cartItem {
  box-sizing: border-box;
  float: left;
  margin: 10px 20px;
  width: 60%;
  height: 100px;
  background-color: #d3902fff;
  box-shadow: 2px 2px 4px #794c2dff;
}

.imageCartItem {
  padding-right: 20px;
  height: 100px;
  width: 100px;
  float: left;
}
.imageCartItem img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.cartItem p {
  margin: 0;
  line-height: 100px;
  float: left;
  height: 100px;
  padding-right: 20px;
  color: white;
  font-size: 1em;
}

.botaoCheckout {
  margin: 0 20px;
  background-color: #794c2dff;
  text-align: center;
  color: white;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 4px 15px 6px 20px;
  box-shadow: 2px 2px 4px black;
}
.botaoCheckout:hover {
  background-color: #d3902fff;
}
.botaoCheckout:active {
  background-color: #794c2dff;
  height: 45px;
  line-height: 45px;
  font-size: 1.1em;
}

.cartAddSubButtonWrap {
  float: right;
  height: 50px;
  width: 120px;
  margin: 25px 10px 25px 0;
  border: 1px solid #794c2d66;
  border-radius: 8px;
  display: flex;
}
.lessButton {
  border-radius: 8px 0 0 8px;
}
.plusButton {
  border-radius: 0 8px 8px 0;
}

.lessButton,
.textArea,
.plusButton {
  width: 40px;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
}

.lessButton,
.plusButton {
  cursor: pointer;
  font-size: 2em;
}
.textArea {
  font-size: 1.3em;
  flex: 1;
}

.lessButton:hover,
.plusButton:hover {
  background-color: #794c2dff;
}
.lessButton:active,
.plusButton:active {
  background-color: #d3902fff;
}
