.productsWraper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 0%;
  background-color: #000000ee;
  opacity: 0;
  transition: height 0s 0.5s, opacity 1s 0s;
  top: 0;
  left: 0;
  z-index: 2;
}
.visible {
  height: 100%;
  opacity: 1;
  transition: height 0s 0s, opacity 1s 0s;
}

.productsContentWraper {
  width: 1000px;
  height: 100%;
  overflow: scroll;
  margin: auto;
  background-color: #e49d7fff;
  box-shadow: 0 0 25px #794c2dff;
}
.productsNavWraperMargin {
  float: left;
  width: 1000px;
  height: 6vh;
}

.productsNavWraper {
  position: absolute;
  width: 1000px;
  height: 6vh;
  background-color: #d29032;
  z-index: 1;
  box-shadow: 0 4px 4px #794c2dff;
}

.navDivs {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 3vh;
  color: white;
  line-height: 6vh;
  cursor: pointer;
  position: relative;
}
.productNavLogo {
  height: 6vh;
}
.cartIcon:hover,
.closeButton:hover {
  background-color: #794c2dff;
}

.cartIcon {
  position: relative;
}

.productAddedWraper {
  position: absolute;
  left: 50px;
  top: 6vh;
  width: 250px;
  height: 250px;
  display: none;
  z-index: 1;
}

.topPyramid {
  height: 50px;
  width: 20%;
  background-color: #d29032;
  margin: auto;
  margin-top: 10px;
  transform: rotate(45deg);
}
.added {
  background-color: #d29032;
  height: 230px;
  width: 100%;
  position: absolute;
  top: 25px;
  box-shadow: 4px 4px 4px black;
  text-align: center;
}
.added img {
  width: 50%;
  margin-top: 10px;
}
.added p {
  color: white;
  font-size: 0.7em;
  margin: 0;
}

.cardDeProduto {
  cursor: pointer;
  box-sizing: border-box;
  float: left;
  box-shadow: 2px 2px 5px #794c2dff;
  margin: 10px 15px 10px 15px;
  position: relative;
}
.imagemCard,
.cardDeProduto,
.overlayCardProdutos {
  border-radius: 5px 50px 15px 50px;
  width: 300px;
  height: 600px;
}
.imagemCard {
  object-fit: cover;
}

.overlayCardProdutos {
  box-sizing: border-box;
  background-color: #000000aa;
  padding-top: 350px;
  position: absolute;
  opacity: 0;
  color: white;
}
.cardDeProduto:hover .overlayCardProdutos {
  opacity: 1;
}
.cardTitulo,
.cardPreco {
  font-size: 1.4em;
  padding: 0px 10px;
}
.cardDescricao {
  font-size: 0.6em;
  padding: 0px 10px;
}

.botaoComprarWrap {
  width: 100%;
  position: absolute;
  bottom: 25px;
  height: 40px;
  text-align: center;
}

.botaoComprar {
  box-sizing: border-box;
  margin-top: 10px;
  font-family: Montserrat;
  cursor: pointer;
  color: white;
  height: 90%;
  width: 100px;
  background-color: #e49d7fff;
  border: none;
  border-radius: 50px 5px 50px 15px;
  box-shadow: 2px 2px 10px black;
}
.botaoComprar:hover {
  background-color: #794c2dff;
  margin-top: 0px;
  height: 100%;
  width: 110px;
  outline: none;
}
.botaoComprar:focus {
  outline: none;
}
.botaoComprar:active {
  outline: none;
  background-color: #e49d7fff;
}
