#blob_0,
#blob_1,
#blob_2,
#blob_3 {
  position: absolute;
  height: 40vh;
}

#blob_0 {
  left: 20px;
  top: 30px;
}
#blob_1 {
  right: 0;
  bottom: 0;
}
#blob_2 {
  left: 0;
  bottom: 0;
}
#blob_3 {
  right: 0;
  top: 0;
}
