.cores {
  background-color: rgb(236, 167, 102);
  background-color: rgb(228, 157, 127);
  background-color: rgb(121, 76, 45);
  background-color: rgb(211, 144, 47);
  background-color: rgb(255, 249, 215);
}

.mainWraper {
  width: 1200px;
  height: 100vh;
  background-color: #fff9d7ff;
  box-shadow: 0 0 25px #eca766ff;
}

.topNavBarWraper {
  height: 6vh;
  background-color: #d29032;
}

.mainContentWraper {
  height: 94vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.mainContent {
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
